* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg,#3336ff,#c700a6); 
    background-size: 400%;
    animation: animacion-fondo 35s ease-in forwards infinite;
}

body:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000073;
}

.app {
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.informacion {
    width: 100%;
    margin-bottom: 10px;
}

.errores {
    text-align: center;
    font-size: 1.5rem;
    color: #e24a4a;
}

.tablero {
    display: grid;
    grid-template-columns: repeat(9, 50px);
    grid-template-rows: repeat(9, 50px);
    border-radius: 10px;
}


.casilla {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background: #000000a9;
    color: #FFF;
    border: .1px solid #ffffff65;
    cursor: pointer;
}

.casilla:hover {
    background: #57575775;
}

.casilla-correcta {
    color: #FFF;
    background: #802af05d;
}

.casilla-seleccionada {
    
    background: #ffffffb0;
    color: #000;
}

.borde-derecha {
    border-right: 5px solid #FFF;
}

.borde-abajo {
    border-bottom: 5px solid #FFF;
}

.contenedor-numeros {
    display: flex;
    margin-top: 30px;
}

.numero {
    width: 40px;
    height: 40px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111111c0;
    color: #FFF;
    cursor: pointer;
    border-radius: 10px;
}

.numero-seleccionado {
    background: #743ddb83;
}

@keyframes animacion-fondo {
	0%{background-position: left;}
	50%{background-position: right;}
	100%{background-position: left;}
}
