
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

html {
    font-size: 62.5%;

    body {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

.contenedor-app {
    display: grid;
    grid-template-areas: 
    "h h h"
    "t t n"
    "t t n";                          
    padding: 3rem;
    border: 1px solid #2222221c;
    box-shadow: 10px 10px 30px #2222221c;

    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        grid-area: h;

        .errores {
            font-size: 1.8rem;
        }
        
        .contenedor-tiempo {
            .tiempo {
                font-size: 1.5rem;
                color: #94a3b7;
            }
    
            .tiempo-pausa {  
                width: 3rem;
                height: 3rem;          
                border: none;
                cursor: pointer;
                background: #eaeef4;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
    
                i {                
                    font-size: 1.7rem;
                    color: #94a3b7;
                }
    
                &:hover {
                    background: #dce3ed;
                }
            }
        }
    }
    

    .tablero {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-area: t;
        gap: 2px;
        background: #344861;
        border: 2px solid #344861;

        .contenedor-iniciar {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #eaeef471;

            .btn-iniciar {                
                font-size: 1.7rem;
                padding: 1.5rem 3rem;
                color: #fff;
                background: #0072e3;
                cursor: pointer;
                border-radius: 3px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                -ms-border-radius: 3px;
                -o-border-radius: 3px;
                border: 1px solid #fff;

                &:hover {
                    background: #086bce;
                    transition: .2s;
                    -webkit-transition: .2s;
                    -moz-transition: .2s;
                    -ms-transition: .2s;
                    -o-transition: .2s;
                }
            }
        }
        
        .contenedor-perder {
            display: none;
            position: absolute;
        }

        .caja {
            display: grid;
            grid-template-columns: repeat(3, 50px);
            grid-template-rows: repeat(3, 50px);
            gap: 1px;
            background: #bfc6d4;
            cursor: pointer;

            .cajita {                       
                display: flex;
                justify-content: center;
                align-items: center;
                background: #fff;
                font-size: 2.5rem;
            }

            .circulo {
                background: #f7cfd6;
                transition: 1s;
            }
            
            .correcto {
                background: #bbdefb;
                color: #0072e3;                
            }

            .incorrecto {
                background: #f7cfd6;
                color: #e55c6c;
            }

            .actuales {
                background: #c3d7ea;
            }

            .actual {
                background: #96c5ec;
            }
        }                
    }      
    
    nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        grid-area: n;
        margin-left: 1.4rem;

        .contenedor-titulo { 
            display: flex;
            justify-content: center;
            align-items: center;                       
            flex-grow: 2;
            h1 {                
                font-size: 4rem;
                font-weight: 300;
                letter-spacing: 10px;
                text-align: center;
            }
        }

        .contenedor-botones {
            width: 100%;
            flex-grow: 1;
            display: flex;    
            justify-content: space-around;
            align-items: center;    
    
            .boton {
                button {
                    width: 5rem;
                    height: 5rem;              
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    background: #eaeef4;
                    border: none;
                    outline: none;
                    cursor: pointer;
    
                    &:hover {
                        background: #dce3ed;
                    }
    
                    i {
                        font-size: 2rem;
                        color: #0072e3;
                    }
                }

                h5 {
                    padding: .5rem;
                    text-align: center;
                    color: #0072e3;
                    font-size: 1.1rem;
                    font-weight: 100;
                }
            }
        }
    
        .contenedor-numeros {
            width: 100%;
            flex-grow: 1;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(3,1fr);
            gap: 7px;
    
            button {
                padding: 1rem 2.5rem;
                flex-grow: 1;
                font-size: 6rem;           
                color: #0072e3;
                background: #eaeef4;
                border-radius: 5px;
                border: none;
                outline: none;
                cursor: pointer;

                &:hover {
                    background: #dce3ed;
                }
            }
        }
    }
}

@media screen and (max-width: 830px) {
    .contenedor-app {
        display: grid;
        grid-template-areas: 
        "h h h"
        "t t t"
        "n n n";  
        padding-top: 0;
        
        

        nav {
            .contenedor-titulo {
                display: none;
            }

            .contenedor-botones {
                padding-top: 1rem;
            }
            .contenedor-numeros {
                display: flex;
                
                button {
                    padding: 0;
                    margin: 0;
                    font-size: 5rem;
                    background: transparent;
                }
            }
        }
    }        

    
	
}

@media screen and (max-width: 530px) {
    .contenedor-app {
        transform: scale(.9);
    }
} 

@media screen and (max-width: 460px) {
    .contenedor-app {
        transform: scale(.7);
    }
} 

@media screen and (max-width: 360px) {
    .contenedor-app {
        transform: scale(.5);
    }
} 
