
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

html {
    font-size: 62.5%;
    body {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

.contenedor-app {
    display: flex;
    align-items: center;
    .tablero {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 2px;
        background: #344861;
        border: 2px solid #344861;
        margin: 1rem;

        .caja {
            display: grid;
            grid-template-columns: repeat(3, 50px);
            grid-template-rows: repeat(3, 50px);
            gap: 1px;
            background: #bfc6d4;
            cursor: pointer;

            .cajita {                       
                display: flex;
                justify-content: center;
                align-items: center;
                background: #fff;
                font-size: 2.5rem;
                
            }
    
            .actual {
                background: #bbdefb;
            }

            .correcto {
                background: #bbdefb;
                color: #0072e3;                
            }

            .incorrecto {
                background: #f7cfd6;
                color: #e55c6c;
            }
        }

        

        
    }      
    
    nav {
        margin: 1rem;
    
        .contenedor-botones {
            width: 100%;
            display: flex;    
            justify-content: space-around;    
    
            button {
                padding: 2rem;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                background: #eaeef4;
                border: none;
                outline: none;
            }
        }
    
        .contenedor-numeros {
            width: 100%;
            display: flex;
    
            button {
                margin-top: 1rem;
                flex-grow: 1;
                font-size: 5rem;           
                color: #0072e3;
                background: transparent;
                border: none;
                outline: none;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 900px) {

	.contenedor-app {
        flex-direction: column;

        .contenedor-numeros {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
