* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  font-size: 62.5%;
}
html body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contenedor-app {
  display: grid;
  grid-template-areas: "h h h" "t t n" "t t n";
  padding: 3rem;
  border: 1px solid rgba(34, 34, 34, 0.1098039216);
  box-shadow: 10px 10px 30px rgba(34, 34, 34, 0.1098039216);
}
.contenedor-app .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  grid-area: h;
}
.contenedor-app .header .errores {
  font-size: 1.8rem;
}
.contenedor-app .header .contenedor-tiempo .tiempo {
  font-size: 1.5rem;
  color: #94a3b7;
}
.contenedor-app .header .contenedor-tiempo .tiempo-pausa {
  width: 3rem;
  height: 3rem;
  border: none;
  cursor: pointer;
  background: #eaeef4;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.contenedor-app .header .contenedor-tiempo .tiempo-pausa i {
  font-size: 1.7rem;
  color: #94a3b7;
}
.contenedor-app .header .contenedor-tiempo .tiempo-pausa:hover {
  background: #dce3ed;
}
.contenedor-app .tablero {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-area: t;
  gap: 2px;
  background: #344861;
  border: 2px solid #344861;
}
.contenedor-app .tablero .contenedor-iniciar {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(234, 238, 244, 0.4431372549);
}
.contenedor-app .tablero .contenedor-iniciar .btn-iniciar {
  font-size: 1.7rem;
  padding: 1.5rem 3rem;
  color: #fff;
  background: #0072e3;
  cursor: pointer;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border: 1px solid #fff;
}
.contenedor-app .tablero .contenedor-iniciar .btn-iniciar:hover {
  background: #086bce;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.contenedor-app .tablero .contenedor-perder {
  display: none;
  position: absolute;
}
.contenedor-app .tablero .caja {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(3, 50px);
  gap: 1px;
  background: #bfc6d4;
  cursor: pointer;
}
.contenedor-app .tablero .caja .cajita {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #344861;
  background: #fff;
  font-size: 2.5rem;
}
.contenedor-app .tablero .caja .posibles {
  background: #e3ebf1;
}
.contenedor-app .tablero .caja .correcto {
  color: #0072e3;
}
.contenedor-app .tablero .caja .incorrecto {
  background: #f7cfd6;
  color: #e55c6c;
}
.contenedor-app .tablero .caja .actuales {
  background: #c3d7ea;
}
.contenedor-app .tablero .caja .actual {
  background: #96c5ec;
}
.contenedor-app nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-area: n;
  margin-left: 1.4rem;
}
.contenedor-app nav .contenedor-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
}
.contenedor-app nav .contenedor-titulo h1 {
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 10px;
  text-align: center;
}
.contenedor-app nav .contenedor-botones {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contenedor-app nav .contenedor-botones .boton button {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #eaeef4;
  border: none;
  outline: none;
  cursor: pointer;
}
.contenedor-app nav .contenedor-botones .boton button:hover {
  background: #dce3ed;
}
.contenedor-app nav .contenedor-botones .boton button i {
  font-size: 2rem;
  color: #0072e3;
}
.contenedor-app nav .contenedor-botones .boton h5 {
  padding: 0.5rem;
  text-align: center;
  color: #0072e3;
  font-size: 1.1rem;
  font-weight: 100;
}
.contenedor-app nav .contenedor-numeros {
  width: 100%;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 7px;
}
.contenedor-app nav .contenedor-numeros button {
  padding: 1rem 2.5rem;
  flex-grow: 1;
  font-size: 6rem;
  color: #0072e3;
  background: #eaeef4;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}
.contenedor-app nav .contenedor-numeros button:hover {
  background: #dce3ed;
}
.contenedor-app nav .contenedor-numeros .oculto {
  visibility: hidden;
}

@media screen and (max-width: 830px) {
  .contenedor-app {
    display: grid;
    grid-template-areas: "h h h" "t t t" "n n n";
    padding-top: 0;
  }
  .contenedor-app nav .contenedor-titulo {
    display: none;
  }
  .contenedor-app nav .contenedor-botones {
    padding-top: 1rem;
  }
  .contenedor-app nav .contenedor-numeros {
    display: flex;
  }
  .contenedor-app nav .contenedor-numeros button {
    padding: 0;
    margin: 0;
    font-size: 5rem;
    background: transparent;
  }
}
@media screen and (max-width: 530px) {
  .contenedor-app {
    transform: scale(0.9);
  }
}
@media screen and (max-width: 460px) {
  .contenedor-app {
    transform: scale(0.7);
  }
}
@media screen and (max-width: 360px) {
  .contenedor-app {
    transform: scale(0.5);
  }
}

/*# sourceMappingURL=styles.css.map */
